In [1]:
import sys
sys.path.insert(0, '/Users/hinzlehome/codeup-data-science/time-series-exercises/')
from utils.imports import *
from utils.acquire import *
from utils.prepare import *

In [2]:
df=merge_on_sales()

cached csv
cached csv
cached csv

In [3]:
store = prep_store_data(df)

In [4]:
store.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 913000 entries, 2013-01-01 to 2017-12-31
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item_id        913000 non-null  int64
 1   quantity       913000 non-null  float64
 2   sale_id        913000 non-null  int64
 3   store_id       913000 non-null  int64
 4   item_brand     913000 non-null  object
 5   item_name      913000 non-null  object
 6   item_price     913000 non-null  float64
 7   item_upc12     913000 non-null  int64
 8   item_upc14     913000 non-null  int64
 9   store_address  913000 non-null  object
 10  store_city     913000 non-null  object
 11  store_state    913000 non-null  object
 12  store_zipcode  913000 non-null  int64
 13  month          913000 non-null  int64
 14  dow            913000 non-null  object
 15  sales_total    913000 non-null  float64
dtypes: float64(3), int64(7), object(6)
memory usage: 118.4+ MB

In [ ]:
# plt.style.available

In [ ]:
# plotting defaults
plt.rc('figure', figsize=(16, 9))
plt.style.use('seaborn-darkgrid')
plt.rc('font', size=16)

In [5]:
store.head()

,item_id,quantity,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode,month,dow,sales_total
sale_date,,,,,,,,,,,,,,,,
2013-01-01,1,13.0,1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,1,Tuesday,10.92
2013-01-01,17,26.0,295813,3,Ducal,Ducal Refried Red Beans,1.16,88313590791,88313590791,2118 Fredericksburg Rdj,San Antonio,TX,78201,1,Tuesday,30.16
2013-01-01,7,32.0,125995,10,Twinings Of London,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004,8503 NW Military Hwy,San Antonio,TX,78231,1,Tuesday,308.48
2013-01-01,18,45.0,314073,3,Scotch,Scotch Removable Clear Mounting Squares - 35 Ct,4.39,21200725340,21200725340,2118 Fredericksburg Rdj,San Antonio,TX,78201,1,Tuesday,197.55
2013-01-01,19,34.0,332333,3,Careone,Careone Family Comb Set - 8 Ct,0.74,41520035646,41520035646,2118 Fredericksburg Rdj,San Antonio,TX,78201,1,Tuesday,25.16

In [ ]:
[sns.displot(store[col] ,kde = True, rug = True) for col in store.columns.to_list()]

In [ ]:
sns.relplot(x=x.index, y='sales_total',data=x)

In [ ]:
[sns.relplot(x=store.index,y=col,data=store) for col in store.columns.to_list()]